@model GraphNetworkDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GraphNetwork</h4>
    <hr />
    <dl class="row">
           <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Station1.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Station1.Name)
        </dd>
            
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Station2.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Station2.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> 
</div>



